<!-- watch -n 10 "/opt/local/bin/php54 /opt/local/bin/phpunit | growlnotify \"php-yilar unit test\"" -->
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
		 verbose="true"
         strict="true">
	<testsuites>
		<testsuite name="Yilar Test Suite">
			<directory suffix=".php" phpVersion="5.4.0" phpVersionOperator="&gt;=">test</directory>
			<exclude>test/fixture</exclude>
		</testsuite>
	</testsuites>
	<logging>
		<!--log type="coverage-text"
		     target="php://stdout"
		     showUncoveredFiles="true"
		     lowUpperBound="10"
		     highLowerBound="90"
		/-->
	</logging>
</phpunit>
